@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.container{
  height: 90vh;
  background-color: red;
  max-width: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  background-image: url('../assets/img/hotelHome.jpg');
  background-size: cover; /* Căn chỉnh kích thước hình ảnh để phủ đầy phần nền */
  background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh */
}

.view{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home1_left{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: 300px;
  justify-content: space-between;
}

.left_info{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.name{
  font-size: 30px;
}

.left_search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar{
  margin-right: 0;
}

.home1_right{
  height: 300px;
  width: 500px;
  margin-left: 100px;
}